@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

html, body {
    font-family: 'Raleway';
}

body {
    min-height: 2000px;
    padding-top: 50px;
}

.addon-header {
	padding-bottom:40px;
}

.hero {
	background-color: #414857;
	color:#fff;
}

	.hero .heading h1 {
		font-size: 48px;
		line-height: 1.2;
		font-weight: 300;
		padding:40px 0px 0px 0px;
	}

	.hero .intro p {
		margin:0px 0px 40px 0px;
	}

.alternative {
	background-color: #e5e5e5;
}

.section-pad {
	padding-top:70px;
	padding-bottom:70px;
}

.item {
	margin-bottom: 30px;
	position: relative;
	background: #fff;
	padding: 10px;
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 2px 0.04px rgba(0, 0, 0, 0.05);
	box-shadow: 0px 0px 2px 0.04px rgba(0, 0, 0, 0.05);
	-webkit-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}
	.item figure {
		position: relative;
		z-index: 1;
		display: block;
		width: 100%;
		overflow: hidden;
		text-align: center;
		padding: 0;
		margin: 0 0 20px;
		color: #fff;
		background: rgba(213, 213, 213, 0.9);
	}

	.item figure img {
		width: 100%;
		position: relative;
		display: block;
		opacity: 1;
		-webkit-transition: opacity 0.4s;
		transition: opacity 0.4s;
	}

	.item .item-header {
		position: relative;
		padding-bottom: 10px;
	}

		.item .item-header h3 {
			display: block;
			font-size: 16px;
			line-height: 1.6;
			font-weight: medium;
			margin: 0 60px 0 0;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

	.item .item-meta {
		padding-top: 10px;
		margin: 0;
		line-height: 14px;
		border-top: 1px solid #ebeded;
	}

.brands-section {
	background-color: #66ad44;
	color: #fff;
	padding: 20px 0;
}

	.brands-section a {
		color: #fff;
	}

#social-links {
	background-color: #66ad44;
	color: #fff;
	padding: 20px 0;
}

	#social-links a.social-icon {
		color: #fff;
		line-height: 36px;
		display: block;
		text-decoration:none;
	}

		#social-links a.social-icon i.fa {
			font-size: 36px;
			margin-right: 15px;
		}

		#social-links a.social-icon span {
			font-size: 24px;
			display: inline-block;
			margin-right: 10px;
		}

		#social-links a.social-icon small {
			font-size: 16px;
			color: #44732d;
		}

#bottom-menu {
	padding-top: 70px !important;
	background: #fff;
	color: #666;
}

	#bottom-menu li {
		padding-top:10px;
	}

		#bottom-menu li a {
			padding-left:0px;
			padding-top:10px;
		}

#footer {
	padding: 50px 0 70px;
	background: #fff;
	color: #959595;
}